# This file holds global constants that are visible on the Server-side

# Port
SERVER_PORT = 4000

# DB Name
DB_NAME = SustainableDB

# Local Host
LOCAL_HOST = http://localhost:3000

# Password Hashing
PASSWORD_HASH_SALT_ROUNDS = 3

# Access Levels
ACCESS_LEVEL_GUEST = 0
ACCESS_LEVEL_NORMAL_USER = 1
ACCESS_LEVEL_ADMIN = 2

# Keys
JWT_PRIVATE_KEY_FILENAME = ./config/jwt_private_key.pem
JWT_EXPIRY = '7d'

UPLOADED_FILES_FOLDER = ./uploads